#hero {
  width:1024px;
  height:800px;
  background: url("../assets/homepage.png") top center;
  background-size: cover;
}
#header{
            width:200px;
            height:60px;
            Background:#ffcccc;
            text-align:center;
            font-size:40px;
            box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
            font-family:florence, cursive;
            animation:mymove 10s infinite;
        }
@keyframe mymove {
from { background-color:#ffcccc;}
to { background-color:#ccffff;}
}
