
#hero {
  width: 1024px;
  height: 800px;
  background: url("../assets/homepage.png") top center;
  background-size: cover;
  z-index:1;
}
    #bar{
    position:absolute;text-align:center;
    width:350px;
    top:15px;
    right:5px;
    height:35px;
    background:#021356;
    border-radius:20px;
    box-shadow:
        0px 3px 3px 0px rgba(0, 0, 0, 0.5) inset,
        0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    z-index:1;
    transition:1.5s;
}

